<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Custom Toolbar ({{ message }})       
      </span>
    </mat-toolbar-row>  
  
  </mat-toolbar>

  <button routerLinkActive="active" routerLink="/my">Load my component</button>
  <button routerLinkActive="active" routerLink="/page">Load my page component</button>
  <button routerLinkActive="active" routerLink="/joke">Chak Noris Joke's </button>
  <br/>
  <!--
      /my - mycomponed
      /page- pagecomponed
  -->


  <router-outlet></router-outlet>